.hero {
  background-image: url('https://res.cloudinary.com/dmbqeteuw/image/upload/v1623596156/hero-kojo_po9akh.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero_wrapper {
  max-width: 80%;
  margin:  0 auto;
  color: #fff;
}

.hero_wrapper > h1 {
  font-weight: 800;
  font-size: 100px;
  text-align: center;
  line-height: 105px;
  letter-spacing: -3px;
}

.hero_wrapper > span {
  font-family:  proxima-nova, sans-serif;
  font-weight: 800;
  font-size: 100px;
  text-align: center;
  line-height: 105px;
  letter-spacing: -3px;
}

.hero_buttons {
  margin-top: 2.2rem;
  display: flex;
  justify-content: center;
}

button:first-of-type {
  margin-right: 1.2rem !important;
}
